@font-face {
    font-family: HFNSS;
    src: url("https://cdn.jsdelivr.net/gh/Chadtech-Online-1/Chadtech-Online-1.github.io/HFNSS.ttf");
  }

@keyframes card {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

body {
    padding: 0px;
    margin: 0px;
    background-color: #030907;
}